.rewiews {
    background-color: $lightGray;

    &-stars {
    display: flex;
    justify-content: space-between;
    padding: 45px 105px;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) { 
        padding: 45px 40px 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1250px) { 
        padding: 45px 80px;
    }

        &__item {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;

            @media screen and (max-width: 767px) { 
                flex-wrap: wrap;
                margin-bottom: 0;
            }

            @media screen and (min-width: 768px) and (max-width: 1250px) { 
               flex-direction: column;
               width: 50%;

               &:first-child {
                    align-items: flex-start;
               }

               &:last-child {
                    align-items: flex-end;
                }
            }

            &_container {
                display: flex;

                @media screen and (max-width: 767px) { 
                    align-items: center;
                    margin-bottom: 25px;
                }

                @media screen and (min-width: 768px) and (max-width: 1250px) { 
                    margin-bottom: 15px;
                }
            }

            &_text {
                color: $blue;
                font-family: $regularFont;
                font-size: 20px;
                line-height: 30px;
                display: flex;

                @media screen and (max-width: 767px) { 
                    font-size: 14px;
                    line-height: 30px;
                }

                @media screen and (min-width: 768px) and (max-width: 1250px) { 
                    font-size: 18px;
                 }

                &:first-child {
                    max-width: 120px;
                    width: 100%;
                    margin-right: 25px;

                    @media screen and (max-width: 767px) { 
                        min-width: 90px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1250px) { 
                       margin-right: 15px;
                    }
                }

                @media screen and (min-width: 768px) and (max-width: 1250px) { 
                    min-width: 90px;
                }
            }

            &_stars {
                display: flex;

                img {
                    @media screen and (max-width: 767px) { 
                        width: 16px;
                        height: 16px;
                    }
                }

                img:not(:last-child) {
                    margin-right: 15px;

                    @media screen and (min-width: 768px) and (max-width: 1250px) { 
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &-list {

        &_item {
            display: flex;
            padding-top: 45px;
            border-top: $mainBorder;
            padding: 40px 105px;
            transition: all 0.3s;
            cursor: pointer;
            position: relative;

            @media screen and (max-width: 767px) { 
                padding: 40px 15px 40px 40px;
            }

            &:hover {
                background-color: #eef3fc;
                
                @media screen and (max-width: 767px) { 
                    background-color: $lightGray;
                }

                .rewiews-list__content_text {
                    opacity: 1;
                }

                .rewiews-list__link {
                    opacity: 1;
                }
            }

            .hideCommentStatic  {
                visibility:visible;
                height: 100%;
            }

            .hideComment{
                visibility:hidden;
            }
        }

        &__img {

            img {
                border-radius: 50%;

                @media screen and (max-width: 767px) { 
                    width: 53px;
                    height: 53px;
                }
            }
        }

        &__content {
            margin-left: 25px;

            &_name {
                margin-bottom: 15px;

                p:first-child {
                    color: $blue;
                    font-family: $boldFont;
                    font-size: 24px;
                    margin-bottom: 10px;
                    line-height: 24px;

                    @media screen and (max-width: 767px) { 
                        font-size: 20px;
                    }
                }

                p:last-child {
                    color: $blue;
                    font-family: $regularFont;
                    font-size: 20px;
                    line-height: 20px;

                    @media screen and (max-width: 767px) { 
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }

            &_text {
                max-width: 780px;
                width: 100%;
                color: $blue;
                opacity: 0.5;
                font-family: $regularFont;
                font-size: 20px;
                line-height: 30px;
                transition: all 0.3s;
            }

            &_item {
                overflow: hidden;
                max-height: 30px;
                transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                font-size: 20px;
                line-height: 20px;

                @media screen and (max-width: 767px) { 
                    font-size: 14px;
                    line-height: 24px;
                    max-height: 70px;
                }
            }
        }

        &__link {
            color: $blue;
            font-family: $regularFont;
            font-size: 20px;
            text-decoration: none;
            border-bottom: 2px solid rgba(34,129,214,0.5);
            transition: all 0.3s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 140px;

            @media screen and (max-width: 767px) { 
                font-size: 14px;
                line-height: 14px;
                top: 90%;
                transform: translateY(-90%);
                left: 50%;
                transform: translate(-50%, -90%);
                width: fit-content;
            }

            @media screen and (min-width: 768px) and (max-width: 1250px) { 
                right: 30px;
            }
        }

        .openRewiews {
            background-color: #eef3fc;
        }

        .openRewiews .rewiews-list__content_text {
            opacity: 1;
        }
        
        .openRewiews .rewiews-list__content_item {
            max-height: 1000px;
            transition: max-height 1s ease-in-out;

            @media screen and (max-width: 767px) { 
                margin-bottom: 30px;
            }  
        }
    }
}